*/.vscode

# Frontend
client/npm-debug.log
client/pnpm-debug.log

client/node_modules
client/dist
client/package-lock.json
client/pnpm-lock.yaml
client/.idea

# Backend
server/__pycache__
server/env
server/src/__pycache__

server/database/__pycache__
server/models/__pycache__
server/routes/__pycache__
server/.env
data/*