.container {
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  transform: translate(0, -83%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-aggent {
  overflow-wrap: break-word;
  width: 70%;
}

#container-modal {
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
  /* top: 50%; */
  /* left: 50%; */
}

.contact-form {
  position: relative;
  width: 80%;
  /* max-width: 400px; */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
  margin-right: 20px;
}

.form-group-table {
  position: relative;
  height: 10em;
  overflow-y: scroll;
  font-size: 14px;
  margin-bottom: 20px;
}

.form-group-table td {
  height: 20px;
  width: 200px;
}

.form-group-table td, .form-group-table th {
  padding: 10px 10px 10px 10px;
}


.form-control {
  position: relative;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-button {
  position: relative;
  width: 150px;
  height: 50px;
  background-color: #365627;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.error-message {
  color: #ff0000;
}

.success-message {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
}

.success-message button {
  margin-top: 10px;
  cursor: pointer;
}

.psychologists-button {
  margin-top: 20px;
  display: inline-block;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.psychologists-button:hover {
  background-color: #0056b3;
}