@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/Ubuntu-Regular.ttf'); /* pueden cambiar, pero debe ser archivo */
}

:root {
  --lateral-navbar-width: 5rem;
  --color-feelscan-1: #D9CF7F;
  --color-feelscan-2: #ffffb1;
  --color-feelscan-3: #77d043;
  --color-feelscan-4: #f5dfb7;
  /* --sup-navbar-height: 70px; */
  --section-width: 187vh;
  --section-height: 83vh;
}

::-webkit-scrollbar { /* ocultar scrollbar */
  width: 0.1em;
  background-color: transparent;
}

#app, body, html {
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  height: 300px;
}

/* START FRONTEND */


#notificacion {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: var(--color-feelscan-1);
  padding: 5px 10px;
  border-radius: 250%;
}

.icono {
  font-size: 20px;
  margin-right: 5px;
}

/* Estilo para el modal */
.window {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

/* Estilo para el contenido del modal */
.window-content {
  background-color: var(--color-feelscan-2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#miembrosPendientes {
  list-style-type: none;
  padding: 0;
}

#miembrosPendientes li {
  margin: 10px 0;
}
