/* /////////////// */
/* General elements */

section {
  position: relative;
  top: 3em;
  left:  calc(var(--lateral-navbar-width) + 2em);
  padding-right: 1em;

  width: var(--section-width);
  height: var(--section-height);
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 220%;
}

.sidenav {
  background-color: var(--color-feelscan-2);
  transition: all .5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: var(--lateral-navbar-width);
  height: 100%;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
}

section div {
  margin-bottom: 35px;

}


/* /////////////// */
/* Select emotion */

#select-emotion-b {
  border-radius: 10px;
  border-radius: 10px;
  height: 4em;
  display: flex;
  align-items: center;
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
  outline: 0;
  background: var(--color-feelscan-3);
  color: #fff;
  border: none;
  padding: 4px;
  border-radius: 9px;
}

#pet-select-em {
  margin: 5px 0 0 20px;
}

#form-select-em {
  margin: 5px 0 0 20px;
  display: flex;
  align-items: center;
}


/* /////////////// */
/* Section emotion dominant */

#section-emotion {
  display: flex;
}

#section-emotion div {
  border-radius: 10px;
}

  #dominant-emotion-b {
    border: 0.1px solid orange;
    margin-right: 5em;
    width: 75%;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content:space-around;
  }
  
  #circular-graph-b {
    border: 0.1px solid orange;
    width: 40%;
    height: 20em;
  }


#chart-emotion-area-b {
  border-radius: 10px;
  border: 0.1px solid orange;
  height: 50em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}



/* /////////////// */
/* Tabla feature emotion */

.box-info {
  border-radius: 10px;
  box-shadow: 2px 3px 3px 0 black;
  background-color: var(--color-feelscan-4);
  border: 0.1px solid orange;
}

#feature-emotion-trend-b {
  height: 30em;
  display: flex;
  justify-content: center;
}

#scroll-block {
  overflow-y: scroll;
  display: flex;
  width: 80%;
  margin: 20px 0 20px 0;
}

#table-box {
  display: flex;
  justify-content: center;
  width: 90%;
}

table {
  border-collapse: collapse;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  background-color: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 11px 27px 11px 27px;
  text-align: center;
  color: #555; /* Color medio plomo */
}

th {
  background-color: var(--color-feelscan-2);
  color: rgb(7, 3, 3); /* Texto blanco en la fila de encabezado */
  padding: 10px 15px 10px 15px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}


/* /////////////// */
/* Lista de botones agendar cita */

#agent-button {
  width: 90px;
  display: flex;
  flex-direction: column;
}

#agent-button div {
  padding-left: 0;
  margin-bottom: 15px;
}

#plus-env {
  border: 0.1px solid white;
  color: white;
  border-radius: 100%;
  background-color: var(--color-feelscan-3);
  width: 2em;
  height: 2em;
  text-align: center;
  cursor: pointer;
}

#plus-env h1 {
  padding-top: 5px;
  margin: 0;
}