.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;
  }
  
  .sidenav-collapsed {
    width: 16.5625rem;
  }
  
  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .sidenav-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: #000000;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: all .3s ease;
  }
  
  .sidenav-link-icon {
    font-size: 30px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
  }
  
  .sidenav-link-text {
    margin-left: 1.5rem;
  }
  
  .sidenav-nav-item:hover .sidenav-nav-link {
    background-color: #fff;
    color: #000;
  }

  .logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem;
    width: 100%;
  }
  
  .logo {
    background: var(--color-feelscan-2);
    text-align: center;
    width: 3.5rem;
    height: 3.2rem;
    min-width: 3rem;
    border-radius: 0.313rem;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    border: none;
  }
  
  .logo img{
    width: 3rem;
    min-width: 3rem;
  }
  
  .logo-text {
    margin-left: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
  }
  
  .btn-close {
    margin-left: auto;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
  }
  
  .fa-times {
    color: var(--color-feelscan-2);
    font-size: 24px;
  }
  
  .active .sidenav-link-icon,
  .active .sidenav-link-text {
    color: #000;
  }
