section div {
  margin-bottom: 30px;
}

#select-emotion-b {
  border-radius: 10px;
  border: 4px solid orange;
  border-radius: 10px;
  height: 10em;
}

#section-emotion {
  display: flex;
}

#section-emotion div {
  border: 4px solid orange;
}

  #dominant-emotion-b {
    margin-right: 5em;
    width: 80%;
    height: 10em;
  }

  #circular-graph-b {
    width: 45%;
    height: 20em;
  }


#chart-emotion-area-b {
  border-radius: 10px;
  border: 4px solid orange;
  width: 100%;
  height: 50em;
  align-items: center;
}

#feature-emotion-trend-b {
  border-radius: 10px;
  border: 4px solid orange;
  width: 100%;
  height: 30em;
}